/* * {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
} */

body {
    height: 100%;
    font-family: 'Averia Sans Libre', cursive;
    background-color: #222831;
}

.card,
.front-card,
.back-card {
    position: absolute;
}

.card {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 320px;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.card .front-card {
    height: 100%;
    width: 100%;
    text-align: center;
    background: url('Nostalgia.jpg');
    filter: invert(20%);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    backface-visibility: hidden;
    transition: transform .8s linear;
}

.card .back-card {
    height: 100%;
    width: 100%;
    text-align: center;
    transform: rotateY(180deg);
    background-color: #27212f;
    border-radius: 10px;
    backface-visibility: hidden;
    transition: transform .8s linear;
}

.card .back-card h2 {
    margin-top: 20%;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 1px;
}


.card .back-card p {
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 1px;
}

.card .back-card .contact-icons {
    margin-top: 40px;
}

.card .back-card .contact-icons i {
    cursor: pointer;
    color: #ffffff;
    font-size: 30px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    margin: 0 5px;
}

.bio {
    margin-top: 40px;
    color: #ffffff;
    font-size: 28px;
}

.card:hover>.back-card {
    transform: rotateY(0deg);
}

.card:hover>.front-card {
    transform: rotateY(-180deg);
}

@media only screen and (max-width: 600px) {
    .container {
        max-width: 600px;
    }

    .card {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 350px;
        width: 280px;
        transform-style: preserve-3d;
        perspective: 1000px;
    }

    /* Click */

    .loader {
        width: 48px;
        height: 48px;
        display: inline-block;
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .loader::after,
    .loader::before {
        content: '';
        box-sizing: border-box;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: 2px solid #FFF;
        position: absolute;
        left: 0;
        top: 0;
        animation: animloader 2s linear infinite;
    }

    .loader::after {
        animation-delay: 1s;
    }

    @keyframes animloader {
        0% {
            transform: scale(0);
            opacity: 1;
        }

        100% {
            transform: scale(1);
            opacity: 0;
        }
    }

    /* Click */

    .card .back-card h2 {
        margin-top: 20%;
        color: #ffffff;
        font-size: 30px;
        letter-spacing: 1px;
    }

    .card .back-card p {
        color: #ffffff;
        font-size: 14px;
        letter-spacing: 1px;
    }

    .card .back-card .contact-icons {
        margin-top: 30px;
    }

    .card .back-card .contact-icons i {
        cursor: pointer;
        color: #ffffff;
        font-size: 26px;
        width: 30px;
        height: 30px;
        line-height: 40px;
        border-radius: 50%;
        margin: 0 5px;
    }

    .bio {
        margin-top: 30px;
        color: #ffffff;
        font-size: 22px;
    }
}